@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #c300ff;
  --roxo : #ab80e4d2;
  --branco: #ae00ff;
  --botao-ativo: #3b31ad;
  --botao-inativo: rgba(255, 255, 255, 0.5);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #9d0fe4;
}

.titulo-principal {
  font-size: 48px;
  margin: 20px 0;
  color: #940808; /* Roxo escuro */
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.objetivo {
  background-color: #ffffff;
  border: 2px solid #7a0ec7;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.objetivo:hover {
  transform: scale(1.05);
}

.objetivo-texto {
  font-size: 20px;
  font-weight: bold;
  color: #9500ff; /* Roxo escuro */
}

.cronometro {
  display: none;
  margin-top: 15px;
}

.contador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contador-digito {
  padding: 0 10px;
  text-align: center;
}

.contador-digito p:first-child {
  font-size: 32px;
  margin: 0;
}

.contador-digito p:last-child {
  font-size: 16px;
  margin: 0;
  color: #d6d2d8;
}